img[src="./bike-in.png"] {
  animation: move-in 3s forwards, fade-out 5s 5s forwards;
  pointer-events: none;
}

img[src="./bike-out.png"] {
  animation: move-out 3s forwards, fade-out 5s 5s forwards;
  pointer-events: none;
}

@keyframes move-in {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-out {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

path.leaflet-interactive {
  animation: fade 2s 4 alternate, rotate 3s;
  opacity: 1;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
